<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AniSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AniSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AniSharpDBEntities" connectionString="metadata=res://*/AniSharpDB.csdl|res://*/AniSharpDB.ssdl|res://*/AniSharpDB.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\AniSharpDB.sdf;Password=anisharp;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <AniSharp.Properties.Settings>
      <setting name="Address" serializeAs="String">
        <value>api.anidb.net</value>
      </setting>
      <setting name="RemotePort" serializeAs="String">
        <value>9000</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="LocalPort" serializeAs="String">
        <value>42118</value>
      </setting>
    </AniSharp.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <AniSharp.Properties.Settings>
      <setting name="ClientName" serializeAs="String">
        <value>AniSharp</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ApiVersion" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="fmask" serializeAs="String">
        <value>70F8FAC000</value>
      </setting>
      <setting name="amask_file" serializeAs="String">
        <value>0000F0C0</value>
      </setting>
      <setting name="amask_anime" serializeAs="String">
        <value>92F0E0A0000000</value>
      </setting>
    </AniSharp.Properties.Settings>
  </applicationSettings>
</configuration>